In [1]:
# mapping MSeqDR trasncript to mutation and diseases
import pandas as pd
pd.__version__

'1.1.3'

In [2]:
# read transcript
ncbi_id= pd.read_csv("NCBI_Protein_ID_uniprot_ids_5778_tr_ids1788_c1_1780.txt", sep='\t', names=["NCBI Protein ID"])
print(ncbi_id.shape)
ncbi_id.head()

(1780, 1)

  NCBI Protein ID
0     NP_000007.1
1     NP_000010.1
2     NP_000017.1
3     NP_000024.2
4     NP_000039.2

In [3]:
# read all variants
variants= pd.read_csv("MSeqDR_all_variants_transcripts_data.txt", sep='\t', low_memory=False)
print(variants.shape)
variants.head()

(37168, 32)

,Gene,Name,Transcript,NCBI Protein ID,Chr,Allele,Type,DNA change (genomic) (hg19),Published as,GERP,...,DNA change (cDNA),Protein,GVS function,Splice distance,Position,Location,Exon,PolyPhen,RNA change,SIFT
0,AARS2,"alanyl-tRNA synthetase 2, mitochondrial",NM_020745.3,NP_065796.1,6,Unknown,-,g.44266473G>A,-,-,...,c.*1811C>T,p.(=),-,-,-,-,-,-,r.(=),-
1,AARS2,"alanyl-tRNA synthetase 2, mitochondrial",NM_020745.3,NP_065796.1,6,Unknown,-,g.44266564G>A,-,-,...,c.*1720C>T,p.(=),-,-,-,-,-,-,r.(=),-
2,AARS2,"alanyl-tRNA synthetase 2, mitochondrial",NM_020745.3,NP_065796.1,6,Unknown,-,g.44266565A>G,-,-,...,c.*1719T>C,p.(=),-,-,-,-,-,-,r.(=),-
3,AARS2,"alanyl-tRNA synthetase 2, mitochondrial",NM_020745.3,NP_065796.1,6,Unknown,-,g.44266574C>A,-,-,...,c.*1710G>T,p.(=),-,-,-,-,-,-,r.(=),-
4,AARS2,"alanyl-tRNA synthetase 2, mitochondrial",NM_020745.3,NP_065796.1,6,Unknown,-,g.44266578G>A,-,-,...,c.*1706C>T,p.(=),-,-,-,-,-,-,r.(=),-

In [6]:
# inner join on 'NCBI Protein ID'
variants_ncbi_id= pd.merge(ncbi_id, variants, on='NCBI Protein ID')
variants_ncbi_id.to_csv("variants18976_ncbi_id1780.tsv", sep="\t", index=False)
print(variants_ncbi_id.shape)
variants_ncbi_id.head()

(18976, 32)

,NCBI Protein ID,Gene,Name,Transcript,Chr,Allele,Type,DNA change (genomic) (hg19),Published as,GERP,...,DNA change (cDNA),Protein,GVS function,Splice distance,Position,Location,Exon,PolyPhen,RNA change,SIFT
0,NP_000007.1,ACADM,transcript variant 1,NM_000016.4,1,Unknown,-,g.76194174G>T,-,-,...,c.118+1G>T,p.?,-,-,-,-,-,-,-,-
1,NP_000007.1,ACADM,transcript variant 1,NM_000016.4,1,Unknown,-,g.76194191T>A,-,-,...,c.118+18T>A,p.(=),-,-,-,-,-,-,-,-
2,NP_000007.1,ACADM,transcript variant 1,NM_000016.4,1,Unknown,-,g.76194230del,-,-,...,c.118+57del,p.(=),-,-,-,-,-,-,-,-
3,NP_000007.1,ACADM,transcript variant 1,NM_000016.4,1,Unknown,-,g.76194235del,-,-,...,c.118+62del,p.(=),-,-,-,-,-,-,-,-
4,NP_000007.1,ACADM,transcript variant 1,NM_000016.4,1,Unknown,-,g.76194287A>G,-,-,...,c.118+114A>G,p.(=),-,-,-,-,-,-,-,-

In [23]:
#find unique genes
variants_ncbi_id.Gene.unique()
variants_ncbi_id.Gene.nunique()
variants_genes = pd.DataFrame(variants_ncbi_id.Gene.unique())
variants_genes.columns=['Symbol']
print(variants_genes.shape)
variants_genes.head()

(284, 1)

  Symbol
0  ACADM
1  ACAT1
2   ASS1
3  BRCA2
4   CPT2

In [19]:
genes= pd.read_csv("MSeqDR_all_genes_to_disease.txt", sep='\t', low_memory=False)

In [11]:
print(genes.shape)
genes.head()

(1627, 9)

,Symbol,Gene,Chr,Band,Transcripts,Variants,Unique variants,Last updated,Associated with diseases
0,AADAT,aminoadipate aminotransferase,4,q33,4,0,0,NaN,-
1,AARS2,"alanyl-tRNA synthetase 2, mitochondrial",6,p21.1,3,93,90,13-11-2013,"COXPD8, LKENP"
2,AASS,aminoadipate-semialdehyde synthase,7,q31.3,1,0,0,NaN,-
3,ABAT,4-aminobutyrate aminotransferase,16,p13.2,3,0,0,NaN,-
4,ABCA13,ATP binding cassette subfamily A member 13,7,p12.3,29,0,0,NaN,-

In [52]:
# get mapped genes to get list of diseases
# inner join on 'Symbol'
genes_variants_ncbi_id= pd.merge(variants_genes, genes, on='Symbol')
genes_variants_ncbi_id.to_csv("gene284_variants18976_ncbi_id1780.tsv", sep="\t", index=False)
print(genes_variants_ncbi_id.shape)
genes_variants_ncbi_id.head()

(284, 9)

,Symbol,Gene,Chr,Band,Transcripts,Variants,Unique variants,Last updated,Associated with diseases
0,ACADM,"acyl-CoA dehydrogenase, C-4 to C-12 straight c...",1,p31,2,217,205,NaN,ACADMD
1,ACAT1,acetyl-CoA acetyltransferase 1,11,q22.3,1,95,85,NaN,203750
2,ASS1,argininosuccinate synthase 1,9,q34.1,2,15,15,NaN,-
3,BRCA2,"breast cancer 2, early onset",13,q12-q13,1,1,1,15-09-2014,-
4,CPT2,carnitine palmitoyltransferase 2,1,p32,1,100,87,NaN,"255110, 608836, CPT II"

In [48]:
#find unique Associated with diseases
"""variants_ncbi_id.Associated with diseases.unique()
variants_ncbi_id.Gene.nunique()
variants_genes = pd.DataFrame(variants_ncbi_id.Gene.unique())
variants_genes.columns=['Symbol']
print(variants_genes.shape)
variants_genes.head()"""

genes_diseaseAbbr = pd.DataFrame(genes_variants_ncbi_id.iloc[:, 8].unique())

In [50]:
genes_diseaseAbbr.columns = ['Abbreviation']
print(genes_diseaseAbbr.shape)
genes_diseaseAbbr.head()
genes_diseaseAbbr.assign(Abbreviation=genes_diseaseAbbr.Abbreviation.str.split(','))

(149, 1)

                   Abbreviation
0                      [ACADMD]
1                      [203750]
2                           [-]
3    [255110,  608836,  CPT II]
4                      [233690]
..                          ...
144                      [SNDI]
145   [252010,  MC1DN10 618233]
146                    [616370]
147           [252010,  618240]
148                    [615578]

[149 rows x 1 columns]

In [46]:
type(genes_diseaseAbbr)

pandas.core.frame.DataFrame